{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "console": true,
    "$":true,
    "module":true,
    "require": true,
    "setTimeout": true
  },
  "rules": {
    "no-console": "off"
  }
}
