include mixin
include variables

block variables

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="description", content=description)
		meta(name="keywords", content=keywords)
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")        
		//-link(href="https://fonts.googleapis.com/css?family=Crimson+Text|Roboto+Condensed&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Heebo|Libre+Caslon+Text|Oxygen&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.css")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		
		title #{title}
	body
		block content

		block scriptsToBody
			script(src="js/bundle.js")