mixin header
	header.header
		.container
			.header__wrap
				.header__logo
					img(src="./images/logo.png", alt="Intersocietal Accreditation Commission")
				.header__info.info
					ul.info__phones
						each item in data.phones
							li.info__item
								span= item.key
								a(href="`tel:${item.value}`")= item.value 
					a(href="mailto:info@canadianvascular.com").info__mail info@canadianvascular.com
								